*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --white-color:#fff;
    --border-bottom:#BA71DA;
    --text-color:#9A9A9A;
    --head-color:#555;
}
.pad_0_15{
    padding: 0 15px;
}

.App{
    box-sizing: border-box;
}
.App__main{
    padding: 0 15px;
    width: 100%;
    float: left;
}

.grid__width{
    max-width: 1200px;
    margin: 0 auto;
}

.underline{
    position: relative;
    z-index: 0;
}
.m-t-60-b-35{
    margin: 60px  auto  35px;
}
.m-b-20{
    margin-bottom: 20px;
}
.p-15{
    padding: 15px;
}
.full-width-height{
    height: 100%;
    width: 100%;
}


.b-b-1-f1{
    border-bottom: 1px solid #f1f1f1;
}

/* Background chủ đạo của Packages */
.backgroud-color-berlin{
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
}

.backgroud-color-hongkong{   
     background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
}

.backgroud-color-san-francisco{
    background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
}

@keyframes growUp {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}


/* Xoay btn close */
@keyframes rotateClose {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(90deg);
    }
}

